
*{
	font-family:微软雅黑;
}
body{
	background-color:#eee;
}
a,a:hover,a:active{
	text-decoration: none !important;
}

/*顶部*/
#Top{
	position: fixed;
	top:0;
	left:0;
	width:100%;
	padding: 0 0 0 8px;
	box-shadow: 0 1px 8px rgba(0,0,0,.3);
	color: #fff;
	line-height: 48px;
	transition: all .5s;
	z-index: 100;
}

/*如果顶部是白色背景*/
.text-muted #SiteName,.text-muted #SiteName a,.text-muted #Search,.text-muted #SubClass a,.text-muted #Logout{
	color: #818a91!important;
}
.text-muted #Search{
	background: rgba(0,0,0,.1);
}
.text-muted #CatName{
	border-left: 1px solid rgba(0,0,0,0.2);
}

/*顶部搜索*/
#N_S_S{
	height:64px;
	margin-left:8px;
	padding-top:8px;
}

/*导航按钮*/
#NavBut{
	width:48px;
	height:48px;
	float:left;
	text-align: center;
	cursor:pointer;
	border-radius:50%;
}

/*网站名*/
#SiteName{
	float:left;
	color:#fff;
	font-size:1.3em;
	margin-left:12px;
}
#SiteName a{
	color:#fff;
}

/*类别名*/
#CatName{
	float:right;
	padding-left: 24px;
    margin-left: 24px;
    margin-top: 7px;
    border-left: 1px solid rgba(255,255,255,0.2);
    font-weight:100;
    line-height: 34px;
}
#CatName2{
	float:right;
	font-weight:100;
}

/*搜索框*/
#Search{
	float:left;
	background: rgba(255,255,255,.15);
	cursor: text;
	border-radius: 3px;
	margin-left: 48px;
    margin-right: 36px;
    color: rgba(255,255,255,0.75);
    font-size: 16px;
}
#Search i{
	margin: auto 8px;
}
#Search input{
	background-color: transparent;
	border:0;
	width:90%;
	color:#fff;
	outline: none;
}

#Searchmin,#Logout{
	width: 50px;
	float:right;
	height:48px;
	line-height: 48px;
	display: block;
	text-align:center;
	cursor: pointer;
}


/*顶部子类别*/
#SubClass{
	text-align:center;
}
#SubClass a{
	height:48px;
	display:inline-block;
	color: rgba(255,255,255,0.56);
}

/*左侧导航*/
#Navigation{
	width:210px;
	position:fixed;
	top:64px;
	left:0;
	color: rgba(0,0,0,0.87);
	padding-top: 16px;
	z-index: 50;
}

#Navigation a{
	color: rgba(0,0,0,0.87);
	font-size: 14px;
	height: 48px;
    font-weight: 500;
    opacity: .85;
    line-height: 50px;
    overflow: hidden;
    display: flex;
    padding: 0 12px 0 20px;
}
#Navigation a:hover{
	background: #e7e7e7;
}
#Navigation i{
	display: block;
	line-height: 50px;
	font-weight: 300;
    width: 50px;
    height:50px;
    padding-right: 22px;
    color:#757575;
}
#Navigation_now{
	background: #e7e7e7;
}


/*主内容*/
#Contents{
	position: relative;;
	top:10%;
	opacity: -1;
}

/*发表新帖安钮，右下角*/
#Newpost{
	position: fixed;
	bottom: 32px;
    right: 32px;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.3);
    cursor: pointer;
    height: 56px;
    width: 56px;
    z-index: 2;
    border-radius: 50%;
    line-height: 56px;
    text-align: center;
    color:#FFF;
    transition: all .5s;
    display: none;
}

/*弹出框*/
/*黑背景色*/
.Black_bg{
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background: rgba(0,0,0,0.12);
	z-index: 200;

}
/*中间透明行*/
.Transparent_row{
	margin-top:0px;
}
/*中间白盒子*/
.White_box{
	background: #fff;
	height:0px;
	border-radius: 4px;
	box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.4);
	overflow: hidden;
	opacity: 0;
}
.White_box_row1{
	color: #444;
}
.White_box_row1 i{
	height: 48px;
	width:48px;
	text-align:center;
	line-height: 48px;
	border-radius: 50%;
    cursor: pointer;
}
.White_box_row2{
	height:100%;
}

/*提示框*/
.Prompt{
	max-height:80px;
	background-color:#323232;
	box-shadow:0 6px 10px 0 rgba(0,0,0,0.14),0 1px 18px 0 rgba(0,0,0,0.12),0 3px 5px -1px rgba(0,0,0,0.2);
	color:#fff;
	font-size:14px;
	left:24px;
	min-height:48px;
	position:fixed;
	border-radius:2px;
	padding:14px 24px;
	bottom:-48px;
	opacity:0;
	z-index: 200;
}

/*当浏览器宽度小于576px时*/
@media (max-width: 576px) {
	/*中间透明行*/
	.Transparent_row{
		margin-top:0px !important;
		height: 100% !important;
	}
	/*中间白盒子*/
	.White_box{
		height: 100% !important;
	}

}

/*当浏览器宽度小于770px时*/
@media (max-width: 770px) {
	/*搜索框*/
	#Search{
		margin-left: 18px;
	    margin-right:0;
	}
	#Search input{
		width:80%;
	}

}